.App {
  text-align: center;
}

.animalCard {
  border: 1px solid black;
  height: 300px;
  margin: 5px;
  width: 300px;
}

img {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.main {
  display: inline-flex;
}