.App {
  text-align: center;
}

.animalCard {
  display: inline-block;
  margin: 5px;
}

.descriptionDiv {
  border: 1px solid black;
  height: 200px;
  padding: 5px;
  width: 200px;
}

img {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}